
#div1, #div2 {
    border: 2px solid saddlebrown;
    width: 600px;
    border-radius: 5px;
}

#repetitions-box1, #repetitions-box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}


